<!DOCTYPE html>
<html>
<head>
  <title>DrawInsight AI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 <h2>Upload Your Child's Drawing</h2>

<form id="uploadForm" enctype="multipart/form-data">
  <div class="file-upload-area" id="uploadBox">
    <div class="upload-icon">📁</div>
    <div class="upload-text">Click or drag to upload</div>
    <div class="upload-subtext">Supported: PNG, JPG</div>
    <input type="file" name="drawing" id="drawing" accept="image/*" required>
  </div>

  <button type="submit">Analyze</button>
  <button type="button" id="resetBtn" class="clear-button">
  Clear
</button>
</form>


  <div id="result"></div>
  <div id="loading" style="display:none;">Analyzing...</div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>



</body>
</html>
